@import url(https://fonts.googleapis.com/css?family=Nunito:200,600);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

h1{
	text-align: center; 
	margin-top: 7%; 
	margin-bottom: 5%; 
	text-transform: uppercase;
	font-weight: 700; 
	color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* fa classes */
.fa-plus-square{cursor: pointer;}
.fa-plus-square:hover {color:#4eada7;}
.fa-check{color:#38c172;}
.fa-eye{color:#e3342f;}

.alert{display: none;}

body {
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment : fixed; 
	color: #636b6f; 
	font-family: 'Nunito', sans-serif; 
	font-weight: 200; 
	height: 100%; 
	margin: 0;
}

/* spins classes */
.spins-down:before, .spins-up:before{color: black; margin-right: 2px;font-size: 16px; cursor: pointer;}
.spins-down:before{content: "\2b07";}
.spins-up:before{content: "\2b06";}

/* sidebar class */
.sidebar{background-color: #e9ecef; color: #000; font-weight: 700; padding: 15px; }

/* button class */
.btn-submit{width:100%; border-style: none; margin-top: 5%; padding: 15px; cursor: pointer; text-transform: uppercase; font-weight: 700; color: black;}
.btn-submit:hover{background: #222; color: white;}

.range {margin-bottom: 5px; width: 100%;}
.form-control{margin-bottom: 5%;}
.activelink{color: #3490dc;}

/* checkbock class */
.checkbox label:after, 
.radio label:after {
	content: ''; 
	display: table; 
	clear: both;
}
.checkbox .cr,
.radio .cr {
	position: relative; 
	display: inline-block; 
	border: 1px solid #a9a9a9; 
	border-radius: .25em; 
	width: 1.3em; 
	height: 1.3em; 
	float: left; 
	margin-right: .5em;
}
.radio .cr {border-radius: 50%;}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 50%;left: 20%;
}
.radio .cr .cr-icon {margin-left: 0.04em;}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {display: none;}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
	transform: scale(3) rotateZ(-20deg);
	opacity: 0;
	transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
	opacity: .5;
}

/* table classes */
.container-table{margin: 3% 0%;}
.input-group-append > span{cursor: pointer;}
table{
	-webkit-box-shadow: -1px 1px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 10px 2px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 10px 2px rgba(0,0,0,0.75);
}
td{background: #fff;}

/* filter class for select field */
.filter{width: 50%; height: 35px;padding: 5px;}